<h1>How to play</h1>
<p>This is a game of Rock, Paper, Scissors.</p>


<p>Please click on play then, because I can't figure out how to get the Select options to work, add a suffix to the address bar above of a forward-slash "/" followed by: </p>

<p>rock, paper or scissors, another forward-slash "/" and the choice of a second player. The second player will be able to see your choice, rendering it completely pointless.</p>

<p>You will see a message telling you who won on the following page. Please enjoy this, despite everything.</p>

<li><a href="/play">Play!</a></li>
