<h1>Make your choice!</h1>

<li><a href="/rock">Rock</a></li>
<li><a href="/paper">Paper</a></li>
<li><a href="/scissors">Scissors</a></li>

<h1>You chose <%= @result %> </h1>



testing alternative methods of input
<!--
<select name="cars" id="cars">
  <option choice1="rock">Rock</option>
  <option choice1="paper">Paper</option>
  <option choice1="scissors">Scissors</option>
  <option choice1="random">random</option>
</select> versus
<select name="cars" id="cars">
  <option choice2="rock">Rock</option>
  <option choice2="paper">Paper</option>
  <option choice2="scissors">Scissors</option>
  <option choice2="random">random</option>
</select>

<a href="/play2">Continue</a> -->
