<h1>Make your choice!</h1>

<li><a href="/rock">Rock</a></li>
<li><a href="/paper">Paper</a></li>
<li><a href="/scissors">Scissors</a></li>


<form method="post" action="/play">

<select name="choice1" id="choice1">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
  <option value="random">random</option>
</select> versus
<select name="choice2" id="choice2">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
  <option value="random">random</option>
</select>

<a href="/play/choice1/choice2">Continue</a>
